
form {
  background-color: rgb(200, 221, 221);
 
  display:flex;
  flex-direction: column;

  border: solid green
 
}
form div {
  border : solid green;
  display: flex;
  margin: 1% 0 1% 5%
}
form div input,select{
  width:50%
}
label{
  width:20%;
  text-align:left;
  font-size:1.2rem;
  font-weight:650;

}


/* .terms-container{
  display:flex;
  justify-content: space-between;
} */

/* label{
  width:20%;
  text-align:left;
  font-size:1.2rem;
  font-weight:650;

}
input ,select, .error{
  width:20%;


}

form button{
  width:20%;
  padding:1%;
  font-weight:700;
  color:white;
  font-size:1.3rem;
  background-color: #895696;
  border-radius:15px;
  margin-top: 5%
  
} 
.terms  {display:flex;
  justify-content: space-around;
  width:20%;
 

}
.terms label {
  width:100%;
  margin: 2% 0 
}
.terms input {
  margin: 5% 35% 0 0;

} */
.error{
  color:red;
  font-size:1.3rem
}
h1{
  color:#bb8a21;
  
}
.App {
  background: #9a9abd;
}
button:disabled{
  background: #dddddd;
}